<div id="message_<%= message.id %>" >
  <% if message.sender == @current_user %>
    <div class="self-message-box">
      <strong><div class="sender-name"> <%= message.sender.name %> </div> </strong>
      <div class="sender-msg"> <%= message.content %> </div>
    </div>
  <% else %>
    <div class="message-box">
      <strong><div class=""> <%= message.sender.name %> </div></strong>
      <div class=""> <%= message.content %> </div>
    </div>
  <% end %>
</div>
