<%= turbo_frame_tag "chat_page" do %>
  <style type="text/css">
    .message-box {
      width: fit-content;
      max-width: 40%;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: #bdb6a4 ;
      padding: 10px
    }
    .receiver-tag {
      text-align: center;
      font-style: italic;
      font-size: 25px;
      color: chocolate;
    }
    .self-message-box {
      width: fit-content;
      max-width: 40%;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: #bdb6a4 ;
      padding: 10px;
    }
    .sender-name {

    }
    .sender-msg {

    }

    .wrapper {
      display: flex;
      flex-direction: column;
      height: 86vh;
    }

    .top, .bottom {
      flex: 0 0 auto;
    }

    .middle {
      flex: 1;
      overflow-y: auto;
      padding: 10px;
    }
  </style>

  <div class="wrapper">
    <div class="receiver-tag top"> <%= @receiver.name %> </div>
    <div class="middle">
      <% @messages.each do |msg| %>
        <% if msg.sender == @current_user %>
          <div class="self-message-box">
            <div class="sender-name"> <%= msg.sender.name %> </div>
            <div class="sender-msg"> <%= msg.content %> </div>
          </div>
        <% else %>
          <div class="message-box">
            <div class="sender-name"> <%= msg.sender.name %> </div>
            <div class="sender-msg"> <%= msg.content %> </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="bottom">
      <%= render partial: 'messages/form' %>
    </div>
  </div>
<% end %>
