<div id="message_<%= @message.id %>" data-receiver-id="<%= @message.receiver_id %>">
  <% if msg.sender == @current_user %>
    <div class="self-message-box">
      <div class="sender-name"> <%= msg.sender.name %> </div>
      <div class="sender-msg"> <%= msg.content %> </div>
    </div>
  <% else %>
    <div class="message-box">
      <div class=""> <%= msg.sender.name %> </div>
      <div class=""> <%= msg.content %> </div>
    </div>
  <% end %>
</div>
