<style type="text/css">
  .screen {
    display: flex;
    flex-direction: column;
  }
  .box {
    display: flex;
    flex-direction: row;
    height: 96vh;
  }
  .side-panel {
    color: chocolate;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .chat-screen {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .self-tag {
    text-align: right;
  }
</style>

<div class="screen">
  <div class='self-tag'>
    <%= @current_user.name %>
    <%= button_to "Logout", logout_session_path %>
  </div>
  <div class="box">
    <div class="side-panel">
      Users
      <nav>
        <ul>
          <% @chat_users.each do |user| %>
            <li><%= link_to "#{user.name}", "#{messages_path}?receivable_type=#{user.class.name}&receivable_id=#{user.id}", data: { turbo_frame: :chat_page } %></li>
          <% end %>
        </ul>
      </nav>
      <%= button_to "Search", search_chat_users_path, method: :get, data: { turbo_frame: :user_search_page }%>
      Groups
      <nav>
        <ul>
          <% @groups.each do |group| %>
            <li><%= link_to "#{group.name}", "#{messages_path}?receivable_type=#{group.class.name}&receivable_id=#{group.id}", data: { turbo_frame: :chat_page } %></li>
          <% end %>
        </ul>
      </nav>

      <div>
        <%= turbo_frame_tag "user_search_page" do %>
        <% end %>
      </div>
    </div>
    <div class="chat-screen">
      <%= turbo_frame_tag "chat_page" do %>
      <% end %>
    </div>
  </div>
</div>
